#Inicio {
    display: flex;
    background-image: url('source/Arraken1.jpg');
    background-size: cover;
    width: 100%;
    height: 600px;
    margin-top: 1px;
    border-radius: 2%;
    padding-top: 20%;
    padding-left: 5%;
}
#mainTitle {
    color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#in-pr{
    margin-top: auto;
    margin-left: auto;
    padding-right: 2%;
    text-align: end;
    color: azure;
}
body {
    background-color: rgb(7, 7, 7);
}
.separator {
    margin: 8px;
    height: 4px;
    width: 98%;
    background-color: sandybrown;
    border-radius: 3px;
}

.container {
    display: flex;
  }
  
  .box {
    flex: 1;
    border: 1px solid black;
    padding: 10px;
    margin-right: 10px;
  }
  
  .box:last-child {
    margin-right: 0;
  }
  
  .info-img{
    height: 200px;
    width: 300px;
    border-radius: 10px;
  }

  #mustKnow{
    display: flexbox;
    background-color: 271E2F;
    border: 5px solid rgb(44, 36, 55);
    width: auto;
    height: auto;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 3%;
    padding: 3%;
  }

#justify{
    text-align: justify;
    font-size: medium;
    font-family: Geneva, Verdana, sans-serif;
    padding-left: 3%;
    padding-right: 3%;
}

ul {
    list-style-position: inside;
    
    padding-right: 10%;
  }
  li {
    text-align: justify;
    padding-top: 10px; 
    font-size: medium;
  }